.hangoutMessage {
    width: 100%;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

#jitsi-meet {
    height: 88vh;
    width: 100%;
    margin-top: 5px;
}

#jitsi-meet iframe {
    height: inherit;
    width: inherit;
}